body {
	@apply bg-primary-background;
	box-sizing: border-box;
}

*:focus-visible {
	outline: none;
}

#mobile_menu {
	padding-bottom: calc(5px + env(safe-area-inset-bottom));
}

.default-focus:focus-visible {
	@apply ring-2;
	@apply ring-offset-primary-background;
	@apply ring-primary-default;
	@apply ring-offset-4;
	@apply ring-opacity-70;
}

.default-focus:focus {
	outline: 0;
}

input[type="color"] {
	-webkit-appearance: none;
	border-radius: 12px;
	overflow: hidden;
	width: 60px;
	height: 50px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

// -------- HERO SECTION ------------ //

.hero-image {
	background-image: url("/img/hero-app-preview_tablet.png");
	background-repeat: no-repeat;
	background-position: bottom left -25px;
	background-size: 800px;
}

@media only screen and (min-width: 768px) {
	.hero-image {
		background-image: url("/img/hero-app-preview_tablet.png");
		background-repeat: no-repeat;
		background-position: bottom left -25px;
		background-size: auto;
	}
}

@media only screen and (min-width: 1024px) {
	.hero-image {
		background-image: url("/img/hero-app-preview.png");
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: auto;
	}
}
