body {
	@apply bg-primary-background;
	box-sizing: border-box;
}

*:focus-visible {
	outline: none;
}

#mobile_menu {
	padding-bottom: calc(5px + env(safe-area-inset-bottom));
}

.default-focus:focus-visible {
	@apply ring-2;
	@apply ring-offset-primary-background;
	@apply ring-primary-default;
	@apply ring-offset-4;
	@apply ring-opacity-70;
}

.default-focus:focus {
	outline: 0;
}

input[type="color"] {
	-webkit-appearance: none;
	border-radius: 12px;
	overflow: hidden;
	width: 60px;
	height: 50px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

// -------- HERO SECTION ------------ //

.hero-image {
	background-image: url("/img/hero-app-preview_tablet.png");
	background-repeat: no-repeat;
	background-position: bottom left -25px;
	background-size: 800px;
}

@media only screen and (min-width: 768px) {
	.hero-image {
		background-image: url("/img/hero-app-preview_tablet.png");
		background-repeat: no-repeat;
		background-position: bottom left -25px;
		background-size: 100vw;
	}
}

@media only screen and (min-width: 1024px) {
	.hero-image {
		background-image: url("/img/hero-app-preview.png");
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: auto;
	}
}

// --------- SIGN IN AND UP -------------- //
.sign-in-up-balls {
	background-image: url("/img/signin_balls.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto;
}

// ACCOUNT PAGE
.user-role-gradient {
	position: relative;
	border: 2px solid transparent;
	border-radius: 6px;
	background: transparent;
	background-clip: padding-box;
	/* just to show box-shadow still works fine */
	&::before {
		position: absolute;
		top: -2px;
		bottom: -2px;
		left: -2px;
		right: -2px;
		content: "";
		z-index: -1;
		border-radius: 6px;
		background: linear-gradient(to right top, #bb3fdd, #fb6da9, #ff9f7c);
	}
}

.blur-bg {
	backdrop-filter: blur(20px);
}

circle.chakra-progress__track {
	stroke: #32323f;
}

// 404 page
.notfound-balls {
	background-image: url("/img/404-left-balls.png"), url("/img/404-right-balls.png");
	background-repeat: no-repeat;
	background-position: bottom left, top right;
	background-size: 65%, 30%;
}

@media only screen and (min-width: 768px) {
	.notfound-balls {
		background-image: url("/img/404-left-balls.png"), url("/img/404-right-balls.png");
		background-repeat: no-repeat;
		background-position: bottom left, top right;
		background-size: 50%, 25%;
	}
}

@media only screen and (min-width: 1280px) {
	.notfound-balls {
		background-image: url("/img/404-left-balls.png"), url("/img/404-right-balls.png");
		background-repeat: no-repeat;
		background-position: bottom left, top right;
		background-size: auto;
	}
}
